In [15]:
import pandas as pd
from IPython.display import display

In [16]:
df = pd.read_excel(r'C:\Users\USER\aiffelthon\data\1_30000_20231001.xls')
df.head()

,표제어,동형어 번호,구분,품사,고유어 여부,원어,발음,활용,파생어,☞(가 보라),...,러시아어 부표제어 대역어,러시아어 부표제어 대역어 뜻풀이,영어 부표제어 대역어,영어 부표제어 대역어 뜻풀이,일본어 부표제어 대역어,일본어 부표제어 대역어 뜻풀이,프랑스어 부표제어 대역어,프랑스어 부표제어 대역어 뜻풀이,스페인어 부표제어 대역어,스페인어 부표제어 대역어 뜻풀이
0,가,1,단어,명사,고유어,NaN,가ː,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,가,1,단어,명사,고유어,NaN,가ː,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-가,1,단어,접사,한자어,哥,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,가-,1,단어,접사,한자어,假,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,가,2,단어,명사,한자어,可,가ː,NaN,가하다2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df = df[['표제어', '관련어']]
df.head()

  표제어  관련어
0   가  NaN
1   가  NaN
2  -가  NaN
3  가-  NaN
4   가  NaN

In [18]:
df = df.dropna(subset=['관련어'])
df.head()

   표제어          관련어
12   가   참고어 이7\n\n
13   가   참고어 이7\n\n
14   가   참고어 이7\n\n
70  가구  유의어 세대2\n\n
71  가구  유의어 세대2\n\n

In [19]:
# '관련어' 열에서 \n을 제거하는 함수
def remove_example_strings(text):
    # 결측값인 경우 빈 문자열로 반환
    if isinstance(text, str):
        # \n 문자열을 공백으로 대체
        cleaned_text = text.replace('\n', '')
        return cleaned_text
    else:
        return ''

# '관련어' 열에 불용어 처리 적용
df['관련어'] = df['관련어'].apply(remove_example_strings)

# 결과 출력
df.head()

   표제어      관련어
12   가   참고어 이7
13   가   참고어 이7
14   가   참고어 이7
70  가구  유의어 세대2
71  가구  유의어 세대2

In [20]:
# 행의 개수 세기
row_count = df.shape[0]

# 결과 출력
print("행의 개수:", row_count)

행의 개수: 1647

In [21]:
# '유의어' 포함된 행의 개수 세기
synonym_count = df[df['관련어'].str.contains('유의어')].shape[0]

# '반대말' 포함된 행의 개수 세기
opposite_word_count = df[df['관련어'].str.contains('반대말')].shape[0]

# 결과 출력
print("유의어 포함된 행의 개수:", synonym_count)
print("반대말 포함된 행의 개수:", opposite_word_count)

유의어 포함된 행의 개수: 621
반대말 포함된 행의 개수: 156

In [22]:
# '유의어' 포함된 행을 df의 형태로 모음
df_synonym = df[df['관련어'].str.contains('유의어')]
# '관련어' 열에서 '유의어'라는 단어 삭제
df_synonym['관련어'] = df_synonym['관련어'].str.replace('유의어', '')

# '반대말' 포함된 행을 df의 형태로 모음
df_opposite = df[df['관련어'].str.contains('반대말')]
# '관련어' 열에서 '반대말'이라는 단어 삭제
df_opposite['관련어'] = df_opposite['관련어'].str.replace('반대말', '')


# df_synonym과 df_opposite 데이터프레임을 각각 출력
display(df_synonym.head())
display(df_opposite.head())

C:\Users\USER\AppData\Local\Temp\ipykernel_13776\118140564.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_synonym['관련어'] = df_synonym['관련어'].str.replace('유의어', '')
C:\Users\USER\AppData\Local\Temp\ipykernel_13776\118140564.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_opposite['관련어'] = df_opposite['관련어'].str.replace('반대말', '')

     표제어   관련어
70    가구   세대2
71    가구   세대2
215   가도   가로2
341   가루    분2
388  가마니   가마4

     표제어   관련어
89   가까이   멀리1
91   가까이   멀리2
97   가깝다   멀다2
98   가깝다   멀다2
101  가깝다   멀다2

In [23]:
# '관련어' 열 이름을 '유의어'로 변경
df_synonym = df_synonym.rename(columns={'관련어': '유의어'})

# '관련어' 열 이름을 '반대말'로 변경
df_opposite = df_opposite.rename(columns={'관련어': '반대말'})

In [28]:
# 중복 행 제거
df_synonym = df_synonym.drop_duplicates()

# 중복 행 제거
df_opposite = df_opposite.drop_duplicates()

In [29]:
# df_synonym과 df_opposite 데이터프레임을 각각 출력
display(df_synonym.head())
display(df_opposite.head())

     표제어   유의어
70    가구   세대2
215   가도   가로2
341   가루    분2
388  가마니   가마4
390  가마솥   가마1

     표제어   반대말
89   가까이   멀리1
91   가까이   멀리2
97   가깝다   멀다2
154   가다   오다1
196   가다   오다2

In [30]:
# 결과 출력
print("유의어 포함된 행의 개수:", df_synonym.shape[0])
print("반대말 포함된 행의 개수:", df_opposite.shape[0])

유의어 포함된 행의 개수: 564
반대말 포함된 행의 개수: 131